﻿@{
	ViewData["Title"] = "Detail";
	Movie movie = ViewBag.movie;
	var cmt = ViewBag.cmt;
	dynamic score = 0.0;
	var count = 0;
	foreach (Rate item in movie.Rates)
	{
		score += (double)item.NumericRating;
		count++;
	}
	if (count != 0)
	{
		score /= count;
	} else
	{
		score = "";
	}
}

<div class="container">
	<div class="d-flex">
		<div class="col-md-5">
			<img class="img-fluid" src="@(string.IsNullOrEmpty(movie.Image ) ? "../Img/No_Image_Available.jpg" : movie.Image)" style="width:100%"/>			
		</div>
		<div class="col-md-7" style="padding-left: 20px;">
			<div style="margin-bottom: 40px">
				<h1>@movie.Title</h1>
				<p><strong>Thể loại: </strong>@movie.Genre.Description</p>
				<p><strong>Điểm đánh giá: </strong>@score</p>
				<p><strong>Mô tả: </strong>@movie.Description</p>
				<a href="#" class="btn btn-primary">Đánh giá</a>
			</div>
			<hr />
			<div>
				<h3>Bình luận:</h3>
				@foreach (Rate rate in cmt)
				{
					<p><strong>@rate.Person.Fullname: </strong>@rate.Comment</p>
				}
			</div>
		</div>
	</div>
</div>